.table {
  margin-top: 20px;
  overflow-y: scroll;
  /* overflow wont work unless we give it certin hight */
  height: 400px;
  color: #6a5d5d;
  /* background-color: white; */
}
.table tr {
  display: flex;
  justify-content: space-between;
}

.table td {
  padding: 0.5rem;
}
/* Set every odd number color to gray */
.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}
